<script>
    $('#past-searches-header').click(function () { $('#past-searches-content').collapse('toggle') });
</script>
<h6 style="cursor: pointer;" id="past-searches-header" class="text-white bg-danger p-1 m-0 rounded"><strong>Past
        Searches</strong></h6>
<div id="past-searches-accordion" class="accordion">

    <div id="past-searches-content" class="collapse show" data-parent="#past-searches-accordion">
        <table class="table table-sm table-fixed table-bordered table-dark compact-text" id="past-searches-table">
            <thead class="thead bg-info">
                <tr>
                    <th class="text-white col-4 border-0"><strong>URL</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-0 m-0">
                        <a class="col text-white past-search" role="button" href="#">google.com</a>
                    </td>
                </tr>
                <tr>
                    <td class="p-0 m-0">
                        <a class="col text-white past-search" role="button" href="#">oregonstate.edu</a>
                    </td>
                </tr>
                <tr>
                    <td class="p-0 m-0">
                        <a class="col text-white past-search" role="button" href="#">ars-technica.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>