<script>
    $('#inspect_results-header').click(function () { $('#inspect_results-content').collapse('toggle') });
</script>
<h6 style="cursor: pointer;" id="inspect_results-header" class="text-white bg-danger p-1 m-0 rounded"><strong>Inspect
        Results</strong></h6>
<div id="inspect_results-accordion" class="accordion">

    <div id="col inspect_results-content" class="collapse show" data-parent="#inspect_results-accordion">
        <div class="input-group-sm">
            <select class="custom-select" id="jump-to-depth">
                <option selected>Jump to depth...</option>
            </select>
        </div>

        <!-- Jump to Depth -->
        <div class="input-group-sm">
            <select class="custom-select" id="highlight-element">
                <option selected>Highlight elements...</option>
            </select>
            <!-- Jump to Depth -->

            <!-- Highlight Element -->
        </div>

        <!-- Element Table -->
        <table class="inspect-table table table-dark table-sm table-bordered compact-text" id="highlight-element-table">
            <thead class="thead bg-info">
                <tr>
                    <th class="border-0">#</th>
                    <th class="border-0">URL</th>
                    <th class="border-0" colspan="2">Text</th>
                </tr>
            </thead>
            <tbody id="highlight-element-tbody">
            </tbody>
        </table>
    </div>
</div>
<!-- Element Table -->