.node {
  cursor: pointer;
}

div#visualization {
    min-height: 1500px;
}

.node circle {
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  fill: #fff;
}

.link {
  fill: none;
  stroke: #007bff;
  stroke-width: 1px;
}

span.header-self {
  font-weight: bold;
}

svg {
  float: right;
  overflow: initial;
}

.customTooltip-wrapper {
  position: absolute;
  width: 350px;
  // max-width: 100%;
  // max-height: 100%;
  overflow: overlay;
  font-size: 12px;
  background: #efefef;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid grey;
}

img.info-self {
  max-width: 25px;
  max-height: 25px;
}
